/* ---- Main view des trajets ---- */

.main-trajet {
  grid-column: 3 / -1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

  /* -- Choix du trajet -- */
.choix-trajet {
  text-align: center;
  margin-top: 3rem;
}

.choix-trajet h2 {
  margin-bottom: 1.5rem;
}

.bkgrd-input {
  background-color: var(--background);
  padding: 1rem 1.5rem;
  margin: 1rem 0;
  border-radius: 0.5rem;
}

.bkgrd-input input {
  font-family: 'Quattrocento Sans', Arial, sans-serif;
  color: var(--dark);
  border: none;
  background-color: var(--background);
}

.bkgrd-input input:focus {
  outline: none;
}

.choix-retour {
  text-align: left;
}


  /* -- Séparation -- */
.liste-covoit-brkline {
  border: 0.1rem solid var(--primary);
  width: 40%;
  margin: 4rem;
}


  /* -- Liste de covoit disponibles --  */
.liste-covoit {
  width: 40%;
}

.covoit-dispo {
  margin: 2rem 0;
  padding: 2rem;
  border: 3px solid var(--primary);
  border-radius: 5px;
  display: grid;
  grid-template: 1fr 1.5fr / 2fr 1fr 1fr;
  gap: 2rem 1rem;
}

.pastille-txt-color {
  color: var(--secondary);
}

    /* -- infos driver -- */
.overview-info-driver {
  grid-area: 1 / 1 / 2 / 2;
  display: inline flex;
  align-items: center;
}

.pp-driver img {
  text-align: center;
  width: 10rem;
  margin-right: 2rem;
  border-radius: 5rem;
}

.detail-driver {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.driver-name {
  color: var(--secondary);
  font-weight: bold;
}

    /* -- Label trajet écologique -- */
.overview-label-eco {
  grid-area: 1 / 2 / 2 / 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.label-eco-driver {
  font-family: Kalam, Arial, sans-serif;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  background-color: var(--primary);
  padding: 1rem 1rem 0.5rem 1rem;
  border-radius: 0.2rem;
}

    /* -- Infos détaillées du trajet -- */
.overview-detail-trajet {
  grid-area: 2 / 1 / 3 / 3;
}

.overview-place-duree {
  width: 100%;
  margin-top: 0.5rem;
  display: inline flex;
  justify-content: space-between;
}

.infos-destination {
  display: flex;
  flex-direction: column;
}

.detail-depart-arrivee {
  margin-top: 1.5rem;
  padding: 1rem;
  border-left: 1.5px solid var(--primary);
  border-bottom: 1.5px solid var(--primary);
  display: block;
}

.overview-horaires {
  /* margin-left: 4.5rem; */
  display: inline flex;
}

.overview-horaires p {
  padding: 1rem 1rem 0 0;
}

    /* -- Pastille de prix -- */
.overview-prix {
  grid-area: 1 / 3 / 2 / 4;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pastille-prix {
  width: 10rem;
  height: 10rem;
  background-color: var(--primary);
  border-radius: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pastille-prix p {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

    /* -- Boutton détail -- */
.overview-detail-button {
  grid-area: 2 / 3 / 3 / 4;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

