.page-connexion-inscription {
  grid-column: 6 / 8;
  justify-content: flex-start;
  align-items: center;
}

.page-connexion-inscription h2 {
  margin: 4rem 0;
}


  /* -- Zone de saisie des identifiants -- */
.fenetre-identifiants {
  width: 100%;
  margin: 0 0 4rem 0;
  padding: 2rem;
  border: 3px solid var(--primary);
  border-radius: 5px;
  display: grid;
  grid-template-rows: 2fr 2fr 1fr;
}

.zone-saisie {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
}

.zone-saisie label {
  font-size: 1.4rem;
  font-style: italic;
}

.zone-saisie input {
  font-family: 'Quattrocento Sans', Arial, sans-serif;
  margin-top: 1rem;
  padding: 1rem 1.5rem;
  background-color: var(--background);
  border: none;
  border-radius: 0.5rem;
}

.zone-saisie input:focus {
  outline: none;
}


.identifiant {
  grid-row: 1 / 2;
}

.motdepasse {
  grid-row: 2 / 3;
}

.valider-connexion {
  grid-row: 3 / 4;
  justify-self: center;
  align-self: center;
}

  /* -- Liens mot de passe oublié ou création de compte -- */

.mdp-oublie {
    margin-bottom: 2rem;
}

.page-connexion-inscription a:active {
  color: var(--background);
  font-weight: bold;
}

.page-connexion-inscription a:hover {
  color: var(--secondary);
  font-weight: bold;
}