/* ---- Header ---- */

header {
  width: 100%;
  background-color: var(--primary);
  height: 6.5rem;
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 15;
}

  /* -- header title and logo -- */

header #logo {
  color: var(--secondary);
  display: inline flex;
  align-items: center;
}

header img {
  width: 4rem;
  height: auto;
  margin: 1rem 2rem;
  border-radius: 4rem;
}


  /* -- header search bar -- */
#header-search button {
  width: 1.6rem;
  height: 1.6rem;
}

#header-search p {
  font-size: 1.6rem;
  padding: 0.2rem;
  border-radius: 1rem;
}

  /* -- navigation bar -- */
nav {
  margin: 0 2rem;
  justify-self: end;
}

nav ul {
  list-style-type: none;
  width: 100%;
  display: inline flex;
  justify-content: flex-end;
}

.nav-text {
  padding-left: 2.5rem;
  display: flex;
  align-items: center;
}

.nav-text a {
  color: var(--secondary);
  text-align: center;
  padding: 0.5rem;
  border-bottom: 0.2rem solid var(--primary); /* keeping the border hidden so the text won't move when hovering */
} 


/* using text-stroke to "bold" the text without moving the layout */
.nav-text a:hover {
  -webkit-text-stroke: 0.04rem var(--secondary);
  border-bottom: 0.2rem solid var(--secondary);
}

.nav-text a:active {
  color: var(--background);
  border-bottom: 0.2rem solid var(--background);
}

/* ---- Footer ---- */

footer {
  background-color: var(--primary);
  width: 100%;
  display: inline flex;
  justify-content: space-between;
  align-items: center;
}

footer div {
  margin: 2rem;
}

footer a {
  color: var(--dark);
  font-size: 1.4rem;
  padding: 2rem;
}