/* ---- Main ---- */
  /* -- Hero banner -- */
#hero-banner {
  background-image: url('../assets/images/HeroBanner.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 39rem;
  grid-column: 1 / -1;
  display: grid;
  grid-template-rows: 65px 3fr 1fr;/* repeat(4, 1fr) */
  grid-template-columns: repeat(8, 1fr);
}

.green-filter {
  background-color: var(--secondary);
  opacity: 25%;
  grid-area: 1 / 1 / 5 / 9 ;
}

#hero-banner .hero-text {
  z-index: 5;
  grid-area: 2 / 4 / 4 / 6;
  height: 20rem;
  width: 50rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-text .main-title {
  color: var(--background);
  font-family: Kalam, Arial, sans-serif;
  font-size: 8rem;
  font-weight: bold;
  letter-spacing: 0.8rem;
  text-shadow: 0 0 0.5rem hsl(0, 0%, 0%, 0.3);
}

#hero-search {
  width: 50rem;
  height: 6rem;
  margin: 3rem 0;
}

#hero-search button {
  width: 2.6rem;
  height: 2.6rem;
}

#hero-search input, #hero-search p {
  font-size: 2.6rem;
}

#hero-search p {
  padding: 0.6rem;
  border-radius: 3rem;
}

/* -- main article -- */

article {
  box-shadow: inset 0 0 2.5rem var(--background);
  padding: 4rem;
  grid-column: 1 / -1;
  display: grid;
  grid-template: repeat(3, auto) / repeat(12, 1fr);
}

article h1 {
  font-weight: bold;
  grid-area: 1 / 4 / 2 / -1;
}


  /* -- Présentation de l'entreprise -- */
.company-prez {
  margin: 2rem 0;
  grid-area: 2 / 4 / 3 / span 6;
  display: flex;
  flex-direction: column;
}

.img-prez {
  margin-bottom: 3rem;
  display: inline flex;
  align-items: flex-start;
}

.img-prez img {
  width: 100%;
  height: auto;
}

/* Caption text */
.text-prez {
  font-size: 1.6rem;
  margin-left: 2rem;
  padding-top: 0.8rem;
  width: 100%;
  text-align: justify;        
}

.brk-line {
  border: 0.1rem solid var(--primary);
  margin-bottom: 3rem;
  width: 115%;
  margin-left: -7.5%;
}