/* ---- Main ---- */
  /* -- Hero banner -- */
#hero-banner {
  background-image: url('../assets/images/HeroBanner.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 39rem;
  display: grid;
  grid-template-rows: 65px 3fr 1fr;/* repeat(4, 1fr) */
  grid-template-columns: repeat(8, 1fr);
}

.green-filter {
  background-color: var(--secondary);
  opacity: 25%;
  grid-area: 1 / 1 / 5 / 9 ;
}

#hero-banner .hero-text {
  z-index: 5;
  grid-area: 2 / 4 / 4 / 6;
  height: 20rem;
  width: 50rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-text .main-title {
  color: var(--background);
  font-family: Kalam, Arial, sans-serif;
  font-size: 8rem;
  font-weight: bold;
  letter-spacing: 0.8rem;
  text-shadow: 0 0 0.5rem hsl(0, 0%, 0%, 0.3);
}

#hero-search {
  width: 50rem;
  height: 6rem;
  margin: 3rem 0;
}

#hero-search button {
  width: 2.6rem;
  height: 2.6rem;
}

#hero-search input, #hero-search p {
  font-size: 2.6rem;
}

#hero-search p {
  padding: 0.6rem;
  border-radius: 3rem;
}

/* -- main article -- */

article {
  box-shadow: inset 0 0 2.5rem var(--background);
  padding: 4rem;
  display: grid;
  grid-template: repeat(3, auto) / repeat(12, 1fr);
}

article h1 {
  color: var(--dark);
  font-weight: bold;
  grid-area: 1 / 5 / 2 / -1;
}


  /* -- Gestion du carousel -- */
.slideshow {
  margin: 2rem 0;
  grid-area: 2 / 5 / 3 / span 4;
}

.main-carousel {
  position: relative;
  margin: auto;
  display: flex;
}

/* Hide the images by default */
.carousel-item {
  display: none;
}

.carousel-item img {
  width: 100%;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  /* the negative margin allows for the arrows to be out of the picture, and the padding to give more space to click "on" the arrow */
  margin: 0 -7rem;
  padding: 1rem;
  color: var(--dark);
  font-weight: bold;
  font-size: 1.6rem;
  transition: 0.6s ease;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
}

/* Caption text */
.carousel-text {
  color: var(--dark);
  font-size: 1.6rem;
  margin-left: -15%;
  padding-top: 0.8rem;
  width: 130%;
  text-align: justify;

  /* !!! WORKING SOLUTION !!! */
  overflow: hidden;
  text-overflow: "...";
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;            
}

/* The dots/bullets/indicators */
/* définir une valeur fixe à la zone de texte pour garantir la position des dots et des flèches */
.carousel-dot {
  text-align: center;
  position: relative;
  bottom: 11.5rem;
}

.dot {
  cursor: pointer;
  height: 1.5rem;
  width: 1.5rem;
  margin: 0 0.2rem;
  background-color: var(--dark);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.3s ease-in;
}

.active, .dot:hover {
  background-color: var(--background);
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 2s;
}

@keyframes fade {
  from {opacity: 0.8}
  to {opacity: 1}
}


  /* -- 'En savoir plus' button -- */

article .button-class {
  color: var(--secondary);
  background-color: var(--primary);
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  grid-area: 3 / 6 / 4 / span 2;
  justify-self: center;
}

article .button-class:hover {
  font-weight: bold;
  box-shadow: 0 0 0.5rem var(--primary);
}

article .button-class:active {
  box-shadow: none;
  background-color: var(--secondary);
  color: var(--background);
}