/* ---- Main ---- */
  /* -- Hero banner -- */
#hero-banner {
  background-image: url('../assets/images/HeroBanner.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 39rem;
  display: grid;
  grid-template-rows: 65px 3fr 1fr;/* repeat(4, 1fr) */
  grid-template-columns: repeat(8, 1fr);
}

.green-filter {
  background-color: var(--secondary);
  opacity: 25%;
  grid-area: 1 / 1 / 5 / 9 ;
}

#hero-banner .hero-text {
  z-index: 5;
  grid-area: 2 / 4 / 4 / 6;
  height: 20rem;
  width: 50rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero-text .main-title {
  color: var(--background);
  font-family: Kalam, Arial, sans-serif;
  font-size: 8rem;
  font-weight: bold;
  letter-spacing: 0.8rem;
  text-shadow: 0 0 0.5rem hsl(0, 0%, 0%, 0.3);
}

#hero-search {
  width: 50rem;
  height: 6rem;
  margin: 3rem 0;
}

#hero-search button {
  width: 2.6rem;
  height: 2.6rem;
}

#hero-search input, #hero-search p {
  font-size: 2.6rem;
}

#hero-search p {
  padding: 0.6rem;
  border-radius: 3rem;
}

/* -- main article -- */

article {
  box-shadow: inset 0 0 2.5rem var(--background);
  padding: 4rem;
  display: grid;
  grid-template: repeat(3, auto) / repeat(12, 1fr);
}

article h1 {
  color: var(--dark);
  font-weight: bold;
  grid-area: 1 / 5 / 2 / -1;
}


  /* -- Présentation de l'entreprise -- */
.company-prez {
  margin: 2rem 0;
  grid-area: 2 / 5 / 3 / span 4;
  display: flex;
  flex-direction: column;
}

.img-prez {
  margin-bottom: 3rem;
}

.img-prez img {
  width: 100%;
}

/* Caption text */
.text-prez {
  color: var(--dark);
  font-size: 1.6rem;
  margin-left: -15%;
  padding-top: 0.8rem;
  width: 130%;
  text-align: justify;

  /* hide the txt if too long */
  /* maybe won't use it after all */
  overflow: hidden;
  text-overflow: "...";
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;            
}

.brk-line {
  border: 0.1rem solid var(--primary);
  margin-bottom: 3rem;
  width: 130%;
  margin-left: -15%;
}

  /* -- 'En savoir plus' button -- */

article .button-class {
  color: var(--secondary);
  background-color: var(--primary);
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  grid-area: 3 / 6 / 4 / span 2;
  justify-self: center;
}

article .button-class:hover {
  font-weight: bold;
  box-shadow: 0 0 0.5rem var(--primary);
}

article .button-class:active {
  box-shadow: none;
  background-color: var(--secondary);
  color: var(--background);
}