/* ---- Menu latéral ---- */
.left-menu {
  background-color: var(--background);
  grid-column: 1 / 3;
  padding: 3rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.border-frame {
  width: 90%;
  padding: 2rem;
  border: 2px solid var(--dark);
  border-radius: 5px;
}

.resume-trajet {
  margin-bottom: 4rem;
  display: grid;
}

.trajet-specs {
  margin: 1rem 0 1rem 1.5rem;
}

.resume-trajet .button-class, .filtres .button-class {
  margin-top: 1rem;
  justify-self: center;
}

.filtres {
  display: grid;
}

.liste-filtres {
  margin: 1rem 0;
}

.liste-filtres label {
  margin-right: 0.5rem;
}

.filtre-input {
  padding: 0.5rem 0;
}

input[type="number"] {
  font-family: 'Quattrocento Sans', Arial, sans-serif;
  font-size: 1.6rem;
  color: var(--dark);
  width: 6rem;
  background-color: var(--background);
  border: none;
  border-bottom: 1px solid var(--dark);
  border-right: 1px solid var(--dark);
}
